body {
  background-color: black;
}
nav {
    color: white;
    text-align: center;
    font-size: 24.25px;
    
}
h1 {
    color: blueviolet;
    text-align: center;
    font-size: 80px;
    font-family: Zapfino;
    
  }
  p {
    color: white;
    text-align: justify;
    font-size: 24.25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    width: 50%;
    
  }
  footer {
    color: white;
    text-align: center;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    bottom: 0px;
    left: 43%;
    padding: 15px;

  }